.home-page {
  &_actions {
    &__wrapper {
      display: flex;
      margin: 20px 0;
      flex-wrap: wrap;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  };

  .banner {
    &-wrapper {
      position: relative;
      width: 100%;
      height: 91px;
      border: 1px solid $superLightGrey;
      border-radius: $border-radius-bs;
      margin-bottom: 14px;
      background-color: $alabaster;
      padding: 15px 90px 15px 55px;

      .hide-button {
        position: absolute;
        top: 10px;
        right: 30px;
      }

      .cards-wrapper {
        display: flex;
        justify-content: space-between;

        .card {
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          &:nth-child(1){
            &:before{
              position: absolute;
              content: '';
              left: 97%;
              top: 12px;
              height: 1px;
              border-bottom: 1px dashed black;
              width: 187%;
            }
          }

          &:nth-child(2){
            &:before{
              position: absolute;
              content: '';
              left: 83%;
              top: 12px;
              height: 1px;
              border-bottom: 1px dashed black;
              width: 160%;
            }
          }

          .d-block {
            display: block;
            white-space: nowrap;
          }

          .count {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: $border-radius-circle;
            background-color: $black;
            margin-right: 5px;
            flex: 0 0 auto;
            width: 28px;
            height: 28px;
            color: $textColorWhite;
          }

          .text {
            font-size: $font-size-md;
            color: $black;
          }

          .dedicated {
            color: $primaryColor;
            display: inline;
          }

          &-body{
            font-size: 12px;
            max-width: 160px;
          }
        }
      }
    }
  }

  .main-content {
    width: 100%;
    min-height: 90vh;
    border-radius: $border-radius-bs;
    background-color: $alabaster;
    border: 1px solid $superLightGrey;

    &_header {
      padding: 20px;
    }

    .title {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_text {
          margin: 5px 0;
          font-size: $font-size-md;
          color: black;
        }
        &_subtitle {
          margin: 0;
          font-size: $font-size-sm;
          color: $textColorLightGrey;
        }
        .title-left_side, {
          width: 200px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
