* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $blackSqueeze;
  font-family: $primaryFontRegular;

  &.disable-scroll {
    overflow: hidden;
  }
}

a {
  transition: $bsTransition;
  text-decoration: none;
}

.d-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.fw-bold {
  font-weight: bold;
  color: $black !important;
}

.vertical {
  display: flex;
  flex-wrap: wrap;
}

.horizontal {
  display: flex;
  flex-direction: row;
}
