* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $blackSqueeze;
  font-family: $primaryFontRegular;
}

a {
  transition: $bsTransition;
  text-decoration: none;
}

.d-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

