.header {
  &_wrapper {
    position: fixed;
    top: 10px;
    right: 0;
    padding: 8px 25px;
    background-color: $alabaster;
    box-shadow: $bsBoxShadow;
    border-bottom: 1px solid $borderColor;
    z-index: $zIndexHeader;
    height: 80px;
    border-radius: $border-radius-bs;
  }

  &_inner-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &_profile {
    &__wrapper {
      position: relative;
      height: 100%;

      .dropdown-menu {
        &_wrapper {
          position: absolute;
          top: calc(100% + 10px);
          opacity: 0;
          right: 0;
          min-width: 260px;
          background-color: $white;
          box-shadow: $bsBoxShadow;
          padding: 10px 0;

          &.visible {
            opacity: 1;
          }
        }

        &_item {
          padding: 10px 20px;
          color: $textColorGrey;
          transition: $bsTransition;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          &:hover {
            background-color: $alabaster;
          }
        }
      }
    }

    &__inner-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: $bsTransition;
      height: 100%;

      &:hover {
        .header_profile__title {
          span {
            color: $textColorDark;
          }
        }
      }

      > * {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }

    &__icon {
      flex: 0 0 auto;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: $border-radius-circle;
      overflow: hidden;
      border: 1px solid $borderColor;
    }

    &__title {
      color: $textColorDark;

      span {
        transition: $bsTransition;
        color: #b8c3d5;
      }
    }
  }

  &_action__wrapper {
    display: flex;
    align-self: center;

    .action {
      width: 40px;
      height: 40px;
      display: flex;
      align-self: center;
      justify-content: center;
    }
  }
}
