.right-sidebar {
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  margin: 10px 8px 8px 14px;
  display: flex;
  justify-content: center;

  &_inner {
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: $alabaster;
    border-radius: $border-radius-bs;
    z-index: $zIndexSidebar;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      color: $secondaryBlack;
      border-radius: $border-radius-bs;
      background-color: $white;
      width: 90%;
      height: 46px;
      border: 1px solid $secondaryBlack;
      margin: 10px;
    }

  }

  .title-wrapper {
    height: 63px;
    border-bottom: 1px solid $superLightGrey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      margin-left: 10px;
      font-size: $font-size-md;
      font-weight: $bold;
    }
  }

  .subtitle-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
  }

  .user {
    &:first-child {
      border-top-left-radius:$border-radius-bs ;
      border-top-right-radius:$border-radius-bs ;
    }

    &:last-child {
      border-bottom-right-radius:  $border-radius-bs;
      border-bottom-left-radius: $border-radius-bs;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $superLightGrey;
    }

    background-color: $white;
    width: 280px;
    height: 75px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &-avatar {
      border-radius: $border-radius-circle;
      overflow: hidden;
      width: 53px;
      height: 53px;

      img{
        max-width: 100%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;

      &_title {
        color: black;
        font-weight: $semiBold;
      }

      &_subtitle {
        color:$textColorGrey;
      }

      .heart {
        align-self: center;
      }

      .score {
        font-weight: $semiBold;
        color: $black;
      }

      p {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: $md-xs-media) {
  .right-sidebar {
    display: none;
  }
}
