.user-card{
  //user card components
  &-title {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      margin: 0;
    }

    .title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: $semiBold;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90px;
      color: red;

      span {
        width: 17px;
        height: 17px;
      }

      .text-red {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }

  &-skillsAverage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &-skillWithProgress {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .progressbar {
      &-text {
        font-size: 14px;
        width: 13px;
        font-weight: $semiBold;
      }
    }
  }

  &-viewProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 14px;
    cursor: pointer;

    .title {
      color: #49A057;
      font-weight: $semiBold;
      margin: 0 10px 0 0;
    }
  }

  &_wrapper {
    padding: 11px 20px 11px 11px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius-sm;
    border-top: 1px solid $superLightGrey;
    height: 91px;

    > * {
      padding: 0 15px;

    }
  }

  &-avatar {
    flex: 0 0 auto;
    height: 100%;

    .img-wrapper {
      display: inline-block;
      border-radius: $border-radius-circle;
      border: 1px solid $superLightGrey;
      overflow: hidden;
      width: 69px;
      height: 69px;
      margin-bottom: 6px;

      img {
        max-width: 100%;
      }
    }

    .avatar-footer {
      width: 60%;
      margin: 0 0 auto;
      display: flex;
      justify-content: space-between;

      span {
        width: 17px;
        height: 17px;
      }
    }
  }

  &_info {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .text {
      margin: 0;
      font-size: 14px;
      color: $textColorLightGrey;
      white-space: nowrap;

      span {
        color: $secondaryBlack;
        font-weight: $semiBold;
      }
    }

    .data {
      display: flex;
      height: 69px;
      flex-direction: column;
      width: 300px;
    }
  }
}

@media screen and (max-width: $md-xs-media) {
  .user-card {
    &-title {
      width: 100%;
      height: 17px;
      margin-bottom: 6px;

      .title {
        font-size: 14px;
        max-width: 140px;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        color: red;
        font-size: 12px;
      }
    }

    &-skillsAverage {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 2px;

      .text {
        font-size: 12px;
        color: $secondaryBlack;
      }
      span {
        font-size: 12px;
        color: $secondaryBlack;
      }
    }

    &-skillWithProgress {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;

      .progressbar {
        &-text {
          font-size: 12px;
          font-weight: $semiBold;
        }
      }
    }

    &_wrapper {
      height: 110px;

      > * {
        padding: 0;
      }
    }

    &-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;

      .avatar-footer {
        width: 44px;
        display: flex;
        justify-content: space-between;
      }
    }

    &_info {
      width: 100%;
      display: flex;
      flex-direction: column;

      .data {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .text {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: $md-xs-media)  and (max-width: $lg-media){
  .user-card {
    &_wrapper {
      height: 110px;
    }

    &_avatar {
      &__footer {
        display: flex;
        justify-content: space-evenly;
      }
    }

    &_info {
      .data {
        width: 270px;
        &_content {
          .progressbar {
            &-text {
              font-size: 14px;
              font-weight: $semiBold;
            }
          }
        }
      }
    }
  }
}
