.sidebar{
  &_wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    background-color: $alabaster;
    box-shadow: $bsBoxShadow;
    z-index: $zIndexSidebar;
  }
  &_logo{
    &__wrapper{
      height: 80px;
      background: $alabaster;
      margin-bottom: 20px;
      a{
        display: block;
        padding: 15px;
      }
      img, svg{
        max-width: 100%;
        height: 60px;
      }
    }
  }
  &_links{
    &__wrapper{
      display: flex;
      flex-direction: column;
    }
    &__item{
      &:not(:last-child){
        margin-bottom: 5px;
      }
      a{
        display: flex;
        align-items: center;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 15px 30px;
        font-size: $font-size-bs;
        border-radius: 0 $border-radius-round $border-radius-round 0;
        color: $textColorGrey;
        span{
          flex: 0 0 auto;
          margin-right: 5px;
        }
        &:hover{
          box-shadow: $bsBoxShadow;
        }
      }
      &.active{
        a{
          background: linear-gradient(to right,#00d461,#2fb36c,#1db562,#1caf5e,#52ab7b);
          box-shadow: $bsBoxShadow;
          color: $textColorWhite
        }
      }
    }
  }
}