.skillWithProgress {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .text {
    margin: 0;
    font-size: 14px;
    color: $textColorLightGrey;
    white-space: nowrap;
  }

  &:not(last-child) {
    margin-bottom: 4px;
  }

  .progressbar {
    &-text {
      font-size: 14px;
      width: 13px;
      font-weight: $semiBold;
    }
  }
}
@media screen and (max-width: $md-xs-media) {
  .skillWithProgress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    .progressbar {
      &-text {
        font-size: 12px;
        font-weight: $semiBold;
      }
    }
  }
}
