.input-wrapper {
  margin: 20px 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-wrapper {
    position: relative;

    .search-icon {
      position: absolute;
      top: 20%;
      left: 5%;
    }

    .search-input {
      padding-left: 45px;
      width: 218px;
      height: 32px;
      border-radius: $border-radius-lg;
      border: 0.5px solid $superLightGrey;
    }
  }

  &_input {
    padding-left: 10px;
    height: 46px;
    width: 100%;
    background: $darkGrey;
    border: none;
    border-radius: 8px;

    &:focus-visible {
      border: none;
    }

    &::placeholder {
      color: $textGreyPlaceholder
    }

    &:focus {
      outline: none;
    }
  }

  &_label {
    align-self: flex-start;
    margin: 0 0 5px 0;
    font-size: 12px;
    font-family: Rubik;
    color: white;
  }

  .error {
    font-size: 12px;
    color: red;
    margin: 5px 0px 0px 0px;
    align-self: flex-start;
  }

  .eye-password {
    position: absolute;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;

    &.dirty {
      top: 49%
    }

    &.clean {
      top: 62%;
    }

    &.visible {
      color: white;
      background-image: url(../../../img/svg/eye.svg);
    }

    &.invisible {
      background-image: url(../../../img/svg/eye-slash.svg);
    }
  }
}
