.layout{
  &_wrapper {
    display: flex;
    flex-direction: column;

  }

  &_inner-wrapper{

    padding: 19px 0 20px;
  }
}

@media screen and (max-width: $md-xs-media) {
  .layout{
    &_inner-wrapper{
      padding: 0;
    }
  }
}
